body{
    background:#FCF8ED;
   
    

}







.date{
     
    
    color: #DDA27B;
    margin-left: 64.0em;
    margin-top:19px ;
    font-family: Arial, Helvetica,sans-serif;
    
    font-weight: 750;

}






.pixel{
    vertical-align: super;
    font-style: oblique;
    line-height: -2.0px;
    font-size: 17px;
    margin-top: 110px;
    margin-left: 61em;
    font-weight:700; 
    padding: 5px;
    color: #8AAB6C;
    


}





h1{
    margin-top: -1.5em;
    margin-left: 22.2%;
    font-family: 'Times New Roman', Georgia,;
    color: rgb(43, 42, 49);
    font-size: 40px;
}


.container{
    border-radius:  10px ;
    margin-top: 150em;
    margin-bottom: 490EM;
    
    width: 700px;
    height: 350px;                                        /**/


    
    border: 6px solid #EFE9D6;                        /*КОНТЭЕНЕР_РАМКА */
    border-bottom-width: 10px;                         /*РАЗМЕР КОНТЭЕНЕРА С */
    box-shadow: 1px 1px 2px 2px rgb(201, 199, 191); /* ТЕНЬ КОНТЭЕНЕРА */
    margin-left: 420px;                              /* ОТСТУПЫ С ЛЕВА  */
    margin-top: 1em;                                /*ОТСТУП С */
    background-image:  url(sloy.png) ;
    background-position: 1.1px;                  /*ДЛЯ ВЫРОВНИВАНИЯ ФОТКИ ПО ЦЕНТРУ РАМКИ*/
    background-size: 971px;                     /* РАЗМЕР ФОТКИ */
    
    position: absolute;

}

